* {
  box-sizing: border-box;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.flip-card-front img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

/* Style the back side */
.flip-card-back {
  position: relative;
  color: rgb(73, 73, 73);
  background: linear-gradient(35deg, rgba(97,97,97,1) 0%, rgba(217, 217, 217,1) 50%, rgba(97,97,97,1) 100%);
  border-radius: 10px;
  box-shadow: 10px 10px 10px gray;
  z-index: 1;
  transform: rotateY(180deg);
}

/* Responsive columns - one column layout (vertical) on small screens */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */